@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
     font-family: 'Montserrat', sans-serif;
     scroll-behavior: smooth;
}
a{
    text-decoration:none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p{
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
    text-align: left;
    line-height: 1.9rem;
    color: black;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color:white;
    background-color: transparent;
    border: 1px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease ;
    transition-property: background-color, color;
}
.cta:hover{
    color: white;
    background-color: crimson;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand span{
    color: crimson;
}

/*Header section*/
#header{
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;

}
#header .header{
    min-height: 8vh;
    background-color: rgba(30,30,30,.24);
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-bar ul{
    list-style: none;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgb( 30,30,30);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
    overflow-x:hidden;
    transition: .5s ease;
}
#header .nav-list input{
    display: none ;
}
#check:checked~ul{
    left: 0;
}
#header .nav-list ul a{
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing:.2rem;
    text-transform: uppercase;
    color: white;
    padding: 20px;
}
#header .nav-list ul a::after{
    content: attr( data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    color: rgba(240,248,255,0.021);
    transition: .4s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: crimson;
}
#header .hamburger{
    width: 60px;
    height: 60px;
    z-index: 100;
    display: inline-block;
    border: 2px solid white;
    position: relative;
    border-radius: 50%;
    margin-right: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
#header .hamburger::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
    animation: animation .8s linear infinite;
}
#header .hamburger .bar{
   position: relative;
    width: 30px;
    height: 2px;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top,bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
/*End Header section*/

/*Hero section*/
#hero{
    background-image: url(../image/office1.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
#hero:after{
    content: "";
    position:absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text-reveal 1s ease forwards;
    animation-delay:1s;
}
#hero h1:nth-child(1){
    animation-delay:1s ;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text-reveal-name 1s ease forwards;
    animation-delay: 3s;
    
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text-reveal-box 1s ease;
    animation-delay:.5s ;
}
#hero h1:nth-child(1) span{
    animation-delay:.5s ;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}


/* End Hero section*/


/* Services section*/
#services{}
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;

}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: .2rem;
    text-transform: uppercase;

}
.section-title span{
    color: crimson;
}
#services .service-top p{
   font-size: 1.4rem;
   font-weight: 300;
   letter-spacing: .05rem;
   line-height: 2rem;
   margin:5px 0;
   text-align: center;
}
#services .service-bottom{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
} 
#services .service-items{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    margin: 10px 5%;
    border-radius: 10px;
    background-image: url(./image/unsplash1.jpg );
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
#services .service-items::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #29323c,#485563 );
    opacity: .9;
    z-index: -1;
    border-radius: 10px;
}
#services .service-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#services .service-bottom .icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#services .service-items h2{
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
} 
#services .service-items p{
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
    text-align: left;
    line-height: 1.9rem;
}

/*End Services section*/



/* projects section*/
#projects{}
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding:100px 0 ;
}
#projects .projects-header{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;

}
#projects .project-info{
    display: flex;
    flex-basis: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    background: linear-gradient(60deg,#29323c,#485563);
    color: white;
}
#projects .project-info h1{
   font-size: 4rem;
   font-weight: 500;
}
#projects .project-info h2{
   font-size: 1.9rem;
   font-weight: 500;
   margin-top:10px ;
}
#projects .project-info p{
 color: white;
 margin-top: 5px;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#29323c,#485563);
    opacity: .6;
}
#projects .project-items .project-img img{
    transition: .5s ease;
}
#projects .project-items:hover .project-img img{
    transform: scale(1.1);
}
/*End projects section*/



/*About section*/
#about .about{
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
}
#about .about .col-left{
    width: 250px;
    height: 360px;
}
#about .about .col-right{
    width: 100%;
    text-align: center;
}
#about .about .col-right h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .about .col-right p{
    margin-bottom: 20px;
}
#about .about .col-right .cta{
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .about .col-left .about-img{
    width: 100%;
    height: 100%;
    position: relative;
    border: 10px solid white;
}
#about .about .col-left .about-img::after{
    content: "";
    position: absolute;
    top: 19px;
    left: -33px;
    border: 7px solid red;
    width: 100%;
    height: 98%;
    z-index: -1;
}
/*End About section*/



/*Contact section*/
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 400px;
}
#contact .contact-item{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 0 18px 0 black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s;
}
#contact .contact-item:hover{
    box-shadow: 0 0 5px 0 black;
}
#contact .contact-item .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-item h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    
}
#contact .contact-item h2{
    font-size: 1.63rem;
    font-weight: 500;
    line-height: 2rem;

}
/*End Contact section*/


/*Footer section*/
#footer{
    background-image: linear-gradient(60deg,#29323c,#485563);
}
#footer .footer{
    min-height: 300px;
    flex-direction: column;
   padding-top: 50px;
   padding-bottom: 10px;
}
#footer .footer h2{
    color: white;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .footer .social-item{
    width: 50px;
    height: 50px;
    margin: 0 5px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item:hover img{
    filter: grayscale(0);

}
#footer .footer p{
    font-size: 1.3rem;
    color: white;
    
}

/* End Footer section*/






/* keyframs*/
@keyframes text-reveal-box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

@keyframes text-reveal{
    100%{
        color: white;
    }
}
@keyframes text-reveal-name{
    100%{
        color: crimson;
    }
}
@keyframes animation{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        transform: scale(1.4);
        opacity: 0;
    }
}
/* End keyframs*/



/* Media Quary for tablet*/
@media only screen and (min-width: 768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 5rem;
    }
    /*Hero*/
    #hero h1{
        font-size: 6rem;
    }
    /*End Hero*/
    /*service*/
    #services .service-bottom .service-items{
        flex-basis: 45%;
        margin: 2.5%;
    }
    /*End service*/
    /*Project*/
    #projects .project-items{
        height: 400px;
        width: 100%;
        margin: 0;
        border-radius: 0;
        flex-direction: row;
    }
    #projects .project-items .project-info{
        height: 100%;
    }
    #projects .project-items .project-img{
        height: 100%;
    }
    #projects .project-items:nth-child(even){
        flex-direction: row-reverse;
    }
    /*End Project*/
    /*About*/
    #about .about{
         flex-direction: row;
    }
    #about .about .col-left{
        width:600px;
        height: 500px;
        padding-left: 60px;
    }
    #about .about .col-right{
      text-align: left;
      padding-left:30px ;
    }
    #about .about .col-right h1{
        text-align-last: left;
        font-size: 3rem;
    }
    /*End About*/
    /*Contact*/
    #contact .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        min-height: 20vh;
        width: 100%;
    }
    #contact .contact-items{
        flex-direction: row;
        width: 100%;
        padding: 20px;
        margin: 0;
        display: flex;
      
    }
    #contact .contact-item{
        flex-basis: 31%;
        margin-left: 0;
        margin-right: 2%;
        flex-direction: row;
        padding: 5px;
     
    }
    #contact .contact-item .contact-info{
        width: 100%;
        text-align-last: left;
       padding-left:7px ;
    }
   /*End Contact*/
}
/* End Media Quary for tablet*/
/*  Media Quary for Destop*/
@media only screen and (min-width:1200px){
    #services .service-bottom .service-items{
        flex-basis: 22%;
        margin: 1.5%;

    }
    #services .service-items p{
        text-align: justify;
    }
    #header .hamburger{
        display: none;
    }
   
    #header .nav-bar ul{
        position: initial;
        display: block;
        width: fit-content;
        height: auto;
        background-color: transparent;

    }
    #header .nav-bar ul a::after{
        display: none;
    }
    #header .nav-bar ul li{
        display: inline-block;
    }
    #header .nav-list ul a{
        font-size: 1.5rem;
    }

}
/* End Media Quary for Destop*/

